In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import japanize_matplotlib
import openpyxl
import pandas as pd
import matplotlib.dates as mdates
import numpy as np
import matplotlib.pyplot as plt
import japanize_matplotlib
import openpyxl
import pandas as pd
import matplotlib.dates as mdates

fig = plt.figure(figsize=(50, 20))
ax1 = fig.subplots()
#ax2 = ax1.twinx()

df_2012 = pd.read_csv("雲海2012.csv")
df = df_2012
df.head()
a = df['日付'].values
b = df['霧日数'].values
ax1.plot(a,b,color='r',label='1-0',marker="*",linestyle="None")
ax1.set_ylim([0,31])
ax1.set_ylabel(df['霧日数'].name)

plt.grid(True)
plt.gca().xaxis.set_major_locator(mdates.MonthLocator(interval=1))
fig.autofmt_xdate(rotation=45)
plt.savefig("fig1.png")
plt.show()

In [1]:
import pandas as pd
df_2006 = pd.read_csv("雲海2006.csv")
df_2007 = pd.read_csv("雲海2007.csv",header=1)
df_2008 = pd.read_csv("雲海2008.csv",header=1)
df_2009 = pd.read_csv("雲海2009.csv",header=1)
df_2010 = pd.read_csv("雲海2010.csv",header=1)
df_2011 = pd.read_csv("雲海2011.csv",header=1)
df_2012 = pd.read_csv("2012.csv",header=1)
df_2013 = pd.read_csv("2013.csv",header=1)
df_2014 = pd.read_csv("2014.csv",header=1)
df_2015 = pd.read_csv("2015.csv",header=1)
df_2016 = pd.read_csv("2016.csv",header=1)
df_2017 = pd.read_csv("2017.csv",header=1)
df_2018 = pd.read_csv("2018.csv",header=1)
df_2019 = pd.read_csv("2019.csv",header=1)
df_2020 = pd.read_csv("2020.csv",header=1)
df_2021 = pd.read_csv("2021.csv",header=1)

In [19]:
df_2012[['日付','出現']]

            日付   出現
0     2012/6/1  0.0
1     2012/6/2  1.0
2     2012/6/3  1.0
3     2012/6/4  1.0
4     2012/6/5  0.0
..         ...  ...
126  2012/10/5  1.0
127  2012/10/6  0.0
128  2012/10/7  1.0
129  2012/10/8  1.0
130  2012/10/9  1.0

[131 rows x 2 columns]

In [75]:
#df_2012[df_2012['出現']=="str(1)"].value_counts()
df_2012['出現'].value_counts()

0.0    68
1.0    59
Name: 出現, dtype: int64

In [2]:
df_2006['出現'].value_counts()

×    42
○    23
△    15
Name: 出現, dtype: int64

In [3]:
df_2007['出現'].value_counts()

無    88
有    36
Name: 出現, dtype: int64

In [4]:
df_2008['出現'].value_counts()

無     49
無し    22
有り    21
有     12
Name: 出現, dtype: int64

In [5]:
df_2009['出現'].value_counts()

有     36
無     36
なし    16
無し     9
有り     2
Name: 出現, dtype: int64

In [6]:
df_2010['出現'].value_counts()

無       93
有       34
有（低）     3
有（遠）     1
有？       1
Name: 出現, dtype: int64

In [7]:
df_2011['出現'].value_counts()

無    75
有    56
Name: 出現, dtype: int64

In [76]:
df_2013['出現'].value_counts()

1.0    75
0.0    66
Name: 出現, dtype: int64

In [77]:
df_2014['出現'].value_counts()

0.0    77
1.0    69
Name: 出現, dtype: int64

In [78]:
df_2015['出現'].value_counts()

0.0    88
1.0    56
Name: 出現, dtype: int64

In [79]:
df_2016['出現'].value_counts()

0.0    90
1.0    53
Name: 出現, dtype: int64

In [80]:
df_2017['出現'].value_counts()

0    98
1    59
Name: 出現, dtype: int64

In [81]:
df_2018['出現'].value_counts()

0    106
1     51
Name: 出現, dtype: int64

In [82]:
df_2019['出現'].value_counts()

0    101
1     56
Name: 出現, dtype: int64

In [83]:
df_2020['出現'].value_counts()

0    58
1    48
Name: 出現, dtype: int64

In [84]:
df_2021['出現'].value_counts()

1    42
0    40
Name: 出現, dtype: int64

In [85]:
df_2012[2:32]['出現'].value_counts()

0.0    16
1.0    14
Name: 出現, dtype: int64

In [153]:
start_idx = df_2012.loc[df_2012["日付"] == "2012/7/1"].index[0]
end_idx = df_2012.loc[df_2012["日付"] == "2012/8/1"].index[0]
df_2012[start_idx:end_idx]['出現'].value_counts()

0.0    16
1.0    15
Name: 出現, dtype: int64

In [151]:
start_idx = df_2013.loc[df_2013["日付"] == "2013/7/1"].index[0]
end_idx = df_2013.loc[df_2013["日付"] == "2013/8/1"].index[0]
df_2013[start_idx:end_idx]['出現'].value_counts()

1.0    16
0.0    15
Name: 出現, dtype: int64

In [ ]:
start_idx = df_2014.loc[df_2014["日付"] == "2014/7/1"].index[0]
end_idx = df_2014.loc[df_2014["日付"] == "2014/8/1"].index[0]
df_2014[start_idx:end_idx]['出現'].value_counts()

In [152]:
start_idx = df_2015.loc[df_2015["日付"] == "2015/6/1"].index[0]
end_idx = df_2015.loc[df_2015["日付"] == "2015/7/1"].index[0]
df_2015[start_idx:end_idx]['出現'].value_counts()

0.0    20
1.0    10
Name: 出現, dtype: int64

In [132]:
start_idx = df_2017.loc[df_2017["日付"] == "2017/9/1"].index[0]
end_idx = df_2017.loc[df_2017["日付"] == "2017/10/1"].index[0]
df_2017[start_idx:end_idx]['出現'].value_counts()

0    16
1    14
Name: 出現, dtype: int64

In [137]:
start_idx = df_2018.loc[df_2018["日付"] == "2018/9/1"].index[0]
end_idx = df_2018.loc[df_2018["日付"] == "2018/10/1"].index[0]
df_2018[start_idx:end_idx]['出現'].value_counts()

0    19
1    11
Name: 出現, dtype: int64

In [141]:
start_idx = df_2019.loc[df_2019["日付"] == "2019/9/1"].index[0]
end_idx = df_2019.loc[df_2019["日付"] == "2019/10/1"].index[0]
df_2019[start_idx:end_idx]['出現'].value_counts()

0    22
1     8
Name: 出現, dtype: int64

In [155]:
start_idx = df_2020.loc[df_2020["日付"] == "2020/10/1"].index[0]
end_idx = df_2020.loc[df_2020["日付"] == "2020/10/14"].index[0]
df_2020[start_idx:end_idx]['出現'].value_counts()

0    9
1    4
Name: 出現, dtype: int64

In [154]:
start_idx = df_2021.loc[df_2021["日付"] == "2021/5/11"].index[0]
end_idx = df_2021.loc[df_2021["日付"] == "2021/6/1"].index[0]
df_2021[start_idx:end_idx]['出現'].value_counts()

0    14
1     7
Name: 出現, dtype: int64

In [63]:
# index[0]はstart_idxで取り出すのは一行のみ。一個だけだから0番目のindex{0}.
start_idx = df_2013.loc[df_2013["日付"] == "2013/6/4"].index[0]
end_idx = df_2013.loc[df_2013["日付"] == "2013/7/4"].index[0]
df_2013[start_idx:end_idx]['出現'].value_counts()

1.0    20
0.0     9
Name: 出現, dtype: int64

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156]

In [46]:
df_2012.columns

Index(['日付', '出現', '確率', '閾値40', '閾値50', '閾値60'], dtype='object')

In [47]:
len(df_2012.columns)

6