In [1]:
import pandas as pd
unkai_df = pd.read_csv("./雲海2007.csv", header=1)
unkai_df.head()

,日付,出現,確率,閾値40,閾値50,閾値60,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,2007/6/19,無,60%,空振り,空振り,空振り,テラスは雲中、トマム山山頂で雲海見えた（客談）,NaN,NaN,NaN,NaN,NaN
1,2007/6/20,無,50%,空振り,空振り,適中なし,とても寒く雲海無し,NaN,NaN,NaN,NaN,NaN
2,2007/6/21,無,50%,空振り,空振り,適中なし,雨で営業中止,NaN,NaN,NaN,NaN,NaN
3,2007/6/22,無,60%,空振り,空振り,空振り,曇り時々霧、６時過ぎに多少発生,NaN,NaN,NaN,NaN,NaN
4,2007/6/23,有,70%,適中,適中,適中,５時前後に雲海発生、5:30頃から雷雨で営業中止,NaN,NaN,NaN,NaN,NaN

In [2]:
target_df = unkai_df.loc[unkai_df["閾値40"] == "見逃し"]
target_df.head()

,日付,出現,確率,閾値40,閾値50,閾値60,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
27,2007/7/16,有,30%,見逃し,見逃し,見逃し,テラス付近霧で今一,NaN,NaN,NaN,NaN,NaN
108,2007/10/5,有,20%,見逃し,見逃し,見逃し,ゴンドラ１８号柱下から雲海,NaN,NaN,NaN,NaN,NaN